.itemsListBody {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  justify-content: center;
  gap: 0.625rem;
}

.imageWrapper {
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 5px;
}
